
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import 'variables';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";


@import "~jquery-ui/themes/base/all.css";
//@import "~datepicker-bootstrap/css/datepicker.min.css";
//@import "~datepicker-bootstrap/css/core.min.css";

//@import '~datepicker-bootstrap/css/datepicker.min.css';
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
