*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}
.show{
  /*width: 100%;*/
  /*height: 400px;*/
}
#show-img { width: 100%; height: 400px; object-fit:cover; }
.small-img{
  width: 90%;
  height: 70px;
 margin:14px auto;
  position: relative;
  left: 0;
}
.small-img .icon-left, .small-img .icon-right{
  width: 12px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index:999;
}
.small-img .icon-left{
	left:-25px;

}
.small-img .icon-right{
  right: -25px;
}
.small-img .icon-left:hover, .small-img .icon-right:hover{
  opacity: .5;
}
.small-container{
  width: 100%;
  height: 70px;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.small-container div{
  width: 800%;
  position: relative;
}

.small-container .show-small-img{
  width: 70px;
  height: 70px;
  margin-right: 6px;
  cursor: pointer;
  float: left;
}
.small-container .show-small-img:last-of-type{
  margin-right: 0;
}
