/** for mobile, less than 576px **/
@media screen and  (max-width:575.98px) {
    .navbar-toggler{
        &:hover{
            background:#db302f;
            color:#fff;
            border:1px solid #db302f!important;
        }
    }
    .bestproducts{
        .resp-tab-active{
            border-color:#db302f!important;
            padding:20px 15px!important;
        }
    }

  .headerprolist {
      .row{
          min-height:150px!important;
      }
     }
    .step-app {
        .step-content{
            margin-top:20px;
        }
         .step-steps  {
             li {
                 a{
                     font-size:13px;
                 }
             }
         }
    }
    .replyinput {
        .deliverto {
            input:first-child{
                width:80%!important;

        }
    }
    .replyinput {
        .deliverto input:last-child {
            width: 18% !important;
        }
        }
    }
    .myaccountleftnav{
        min-height: auto!important;
    }

    .ratecol{
        text-align:center;
    }

    .productview-header {
    h1{
      margin-bottom:10px;
    }
  }
    .productview-body{
        .reviewpad{
            padding:30px 0;
        }
    }
    #myVerticalCarousel{
        height:550px!important;
            .item{
                height:550px;
            }
        }
    .signbgcol{
        width:100%!important;
        position:relative!important;
        min-height:calc(30vh - 60px)!important;
    }
    .signright{
        width:100%!important;
        margin-left:0!important;
        min-height:250px!important;

        .signrtin{
            width:100%;
            min-height:250px;

            .signsel{
                select{
                    width:20%;
                }
                input.form-control{
                    width:78%;
                }
            }
        }
        .listsignsocial{
            li{
                a{
                    color:#fff;
                }
            }
        }
    }

    .hidexs{
        display:none;
    }

    header{
        .navbar-toggler{
            border:1px solid #000!important;
        }

        .headnav{
            background:#fff;
            .nav-link{
                padding:1rem;
            }
            .searchdrop{
                width:100%;
            }
        }
    }
    .main{
        .vertical-carousel{
            .vertical-carousel-indicators{
                top:90%;
                right:50%;
                margin-right:-40px;

                li{
                    float:left;
                }
            }
        }
        .homecategories{
            .row{
                padding-top:0!important;
                padding-bottom:0;
            }
        }
        .sectionpadding{
            padding:15px 0;
        }
        .bestproducts {
            .resp-tabs-container{}
            h2.resp-accordion{
                padding:20px 15px;
                border-top:1px solid #ccc;
            }
        }
        .productcol{
            figure{
                img{
                    width:100%;
                }
            }
        }
    }
    footer{
      .footerclients{
          .col-lg-2{
              width:50%;

              img{
                  width:100%;
              }
          }
      }
        .newsform{
            height:auto;
        }
        .featuresfooter{
            .pl50{
                padding-left:0;
            }
           .pl100{
               padding-left:0;
           }
            figure{
                width:75px;
                text-align:center;
            }
        }
        .pl50{
            padding-left:0!important;
        }
        .pl50{
            padding-left:0;
        }
        .pl100{
            padding-left:0;
        }
        .nletterfooter{
            padding:10px 0;
        }
    }

    .simplegallery{
        .content{
            background:none;
            width:100%!important;
            min-height: 150px!important;
            float:none!important;
        }
        .thumbnail{
            height:auto!important;
            margin-top:35px;
            width:100%!important;

            .thumb{
                width:80px!important;
                float:left;
            }
        }
    }
    .accountrtbody label{
        float:left;
        margin-bottom:5px;
    }
    .accountrtbody input[type="submit"]{
        padding:10px 15px;
        height:auto;
    }
    .orddetlist{
        li{
            padding:4px;

            &:after{
                content:'';
                padding:0;
            }
        }
    }
    .s-product{
        .price{
            padding:10px 0;
            text-align:left;
        }
    }
    .ordertab .resp-tab-active{
        padding:10px 15px!important;
    }
    .accountrt .addbox{
        min-height: 210px;
    }
}

/** for tablet less than 768px **/
@media screen and (min-width:576px) and (max-width:767.98px){
    .productview-body{
        .reviewpad{
            padding:30px 0;
        }
    }
    .myaccountleftnav{
        min-height: auto!important;
    }
    .accountrtbody label{
        float:left;
        margin-bottom:5px;
    }
    .accountrtbody input[type="submit"]{
        padding:10px 15px;
        height:auto;
    }

    .signbgcol{
        width:100%!important;
        position:relative!important;
        min-height:calc(30vh - 60px)!important;
    }

    .signright{
        width:100%!important;
        margin-left:0!important;
        min-height:250px!important;

        .signrtin{
            width:100%;
            min-height:auto;

            .signsel{
                select{
                    width:20%;
                }
                input.form-control{
                    width:78%;
                }
            }
        }
    }
    .sectionpadding{
        padding:30px 0!important;
    }
    footer{
        .pl50{
            padding-left:0!important;
        }
        .featuresfooter{
            .pl50{
                padding-left:0;
            }
            .pl100{
                padding-left:0;
            }
            figure{
                width:75px;
                text-align:center;
            }
        }

        .newsform{
            height:auto;
        }
    }
    header{
        .navbar-toggler{
            border:1px solid #000!important;
        }
        .headnav{
            background:#fff;
            .nav-link{
                padding:1rem;
            }

        }
    }

    .bestproducts {
        .resp-tabs-container{}
        h2.resp-accordion{
            padding:20px 15px;
            border-top:1px solid #ccc;
        }
    }
    .orddetlist{
        li{
            padding:4px;

            &:after{
                content:'';
                padding:0;
            }
        }
    }
    .s-product{
        .price{
            padding:10px 0;
            text-align: left;
        }
    }
}

/**for medium device less than 992px **/
@media screen and  (min-width:768px) and (max-width:991.98px){
    .myaccountleftnav{
        min-height: auto!important;
    }
    .accountrtbody label{
        float:left;
        margin-bottom:5px;
    }
    .accountrtbody input[type="submit"]{
        padding:10px 15px;
        height:auto;
    }
    .sectionpadding{
        padding:30px 0!important;
    }

    footer{
        .featuresfooter{
            .pl50{
                padding-left:0!important;
            }
            figure{
                width:75px;
                text-align: center;
            }
        }
        .newsform{
            height:auto;
        }
    }
}

/** for large device less than 1200 px **/
@media screen and (min-width:992px) and (max-width:1199.98px){

}