/**fonts **/
/*@import "~bootstrap4-notify";*/
@import "easy-responsive-tabs";
@import "html-5-reset-css";
@import "jquery-steps";
@import "responsive";
@import "vertical_carousal";
@import "~jquery-ui/themes/base/all.css";
//@import "notifIt";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

.outofstack_box {
  .productimg {
    opacity: 0.2;
  }

  .outofstack {
    position: absolute;
    z-index: 99;
    top: 12px;
    left: 0;
    width: 100%;
    text-align: center;

    img.object-fit-cover {
      padding: 60px !important;
    }
  }
}

.dropdown-menu.show .selectnav {
  background: red;
  color: #FFF;
}

.ui-widget.ui-widget-content {
  z-index: 1035 !important;
}

.ui-widget-content .ui-state-active {
  background: #0b2e13;
  border-color: #0b2e13;
  color: #FFF;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #343339;
  font-size: 14px !important;
}

.flight {
  font-weight: 300;
}

a {
  color: #343339;
}

.fbold {
  font-weight: 700;
}

.fmed {
  font-weight: 500;
}

.fwhite {
  color: #fff;
}

.fgray {
  color: #7d7d7d !important;
}

.fred {
  color: #db302f !important;
}

.fgreen {
  color: #83c44e !important;
}

.fblack {
  color: #333 !important;
}

a {
  transition: all 0.2s ease;
}

.sectionpadding {
  padding: 60px 0;

  .catcol {
    padding: 15px 0;
  }
}

a:hover {
  text-decoration: none;
}

/** header styles **/

.topheader {
  background: #212121;
  color: #9a9a9a;
  font-size: 11px;
  padding: 15px 0;
  height: 40px;
  .nav {
    li.nav-item {
      a.nav-link {
        padding: 0 12px;
        text-transform: uppercase;
        color: #9a9a9a;
        font-weight: 500;
      }
    }
  }
  p {
    line-height: 14px;
    font-size: 12px;
  }
  .cartico {
    float: left;
    margin-right: 5px;
    margin-top: -3px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .moonfont {
    font-size: 17px;
    float: left;
    margin-right: 5px;
    margin-top: -4px;
  }
}

.topheader .nav li.nav-item a.nav-link:focus,
.topheader .nav li.nav-item a.nav-link:active {
  color: #fff !important;
}

.topheader .nav li.nav-item a.nav-link:focus {
  color: #fff;
}

.topheader .nav li.nav-item a.nav-link:active {
  color: #fff;
}

.topheader .nav li.nav-item a.nav-link:hover {
  color: #fff;
}

.topheader .nav {
  padding: 0;
}

.topheader .nav-pills .nav-link.active, .topheader .nav-pills .show > .nav-link {
  background: none;
  color: #fff;
}

.topheader .nav .dropdown-menu {
  top: 22px;
  width: 130px;
  min-width: 150px;
  right: 0;
  left: inherit;
  box-shadow: none;
}

.carticon {
  img {
    width: 20px;
  }
}

.topheader .nav .dropdown-menu a.dropdown-item {
  padding: 5px 12px !important;
  font-size: 12px;
  display: block;
  color: #333 !important;
}

.navsearch {
  color: #212121 !important;
  font-size: 18px !important;
  margin-top: -3px;
}

.topheader .nav .dropdown-menu a.dropdown-item:hover {
  background: #f5f5f5;
  color: #343339 !important;
}

.main {
  padding-top: 100px;
  min-height: 500px;
}

.fixed-theme .headnav {
  background: #fff;
  box-shadow: 2px 2px 2px #ccc;
}

.mainnav {
  background: none;
}

.mainnav .dropdown-menu {
  border-radius: 0;
  top: 54px;
  right: 0;
  left: inherit;
}

.mainnav .dropdown-menu a {
  font-size: 14px;
  padding: 10px 15px;
  text-transform: capitalize;
}

.mainnav .dropdown-menu a:focus,
.mainnav .dropdown-menu a:active {
  background-color: none !important;
}

.navbar-brand img {
  //height: 75px;
}

.mainnav a.nav-link {
  color: #7d7d7d;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.mainnav a i {
  color: #212121;
}

.searchsection {
  float: left;
}

.searchdrop {
  left: -150px;
  padding: 15px;
  width: 300px;
}

.searchdrop input[type="text"] {
  height: 40px;
  padding: 5px;
  font-size: 12px;
  color: #7d7d7d;
  width: 100%;
}

.searchdrop input[type="text"]:focus {
  outline: none;
}

.searchdrop input[type="submit"] {
  margin-top: 10px;
  width: 100%;
  background: #333;
  text-align: center;
  border: none;
  color: #fff;
  height: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.mainnav .dropdown-toggle::after {
  display: none;
}

.mainnav a:hover {
  color: #db302f;
}

.mainnav a:hover {
  span {
    border-bottom: 2px solid #db302f;
  }
}

.mainnav a.active span {
  color: #db302f;
  border-bottom: 2px solid #db302f;
}

/** slider styles **/

#myVerticalCarousel {
  height: 700px;
  margin: 0;
}

.a {
  background-image: url('/frontend/img/slider01.jpg');
}

.b {
  background-image: url('/frontend/img/slider02.jpg');
}

.c {
  background-image: url('/frontend/img/slider03.jpg');
}

.d {
  background-image: url('/frontend/img/slider04.jpg');
}

.vertical-carousel-box .item {
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  position: relative;
  background-position: center center;
}

.vertical-carousel-box .item:before {
  content: '';
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.slidercontent h2 {
  font-size: 40px;
}

.slidercontent p {
  font-size: 15px;
  line-height: 24px;
}

a.custombtn {
  border: 1px solid #fff;
  font-size: 13px;
  padding: 15px 32px;
}

a.custombtn:hover {
  background: #f5f5f5;
  color: #343339;
  border: 1px solid #f5f5f5;
}

.row-number {
  font-size: 14px;
  bottom: 36px;
  right: 0;
}

.row-number span {
  font-size: 80px;
  color: rgba(255, 255, 255, 0.2);
}

.colno span {
  right: 0;
  top: 0;
}

.colno p {
  left: -75px;
  top: 48px;
}

.catcol figure {
  transition: all 0.2s ease;
}

.catcol:hover figure:after {
  background: rgba(0, 0, 0, 0.7);
}

.catcol:hover .catarticle {
  display: block;
  bottom: 36%;
  opacity: 1;
}

.catcol figure:after {
  content: '';
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3px;
  left: 0;
  transition: all 0.2s ease;
}

.catcol figure img {
  height: 297px;
}

.catarticle h3 {
  font-size: 30px;
}

.catarticle {
  bottom: 30%;
  left: 0;
  opacity: 0;
  transition: all 0.2s ease;
}

.catarticle a.custombtn {
  padding: 10px 15px;
  border-radius: 3px;
}

.object-fit-cover {
  object-fit: cover;
}

.graybg {
  background: #f5f5f5;
}

.sectitle {
  font-weight: 400;
}

/** filter home styles **/

.filtr-item {
  padding: 1rem;
}

.item-desc {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem;
  z-index: 1;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

/* Filter controls */

.simplefilter li,
.multifilter li,
.sortandshuffle li {
  color: white;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.7rem 1.2rem;
}

.simplefilter li {
  background: none;
  border: 1px solid #343339;
  color: #343339;
  border-radius: 5px;
  font-size: 14px;
}

.simplefilter li.active {
  background-color: #343339;
  border: 1px solid #343339;
  color: #fff;
}

.multifilter li {
  background-color: #4b9eff;
}

.multifilter li.active {
  background-color: #2265b4;
}

/* Shuffle and sort controls */

select {
  padding: 1rem 1rem;
  text-transform: uppercase;
}

.sortandshuffle .shuffle-btn {
  background-color: #dec800;
}

.sortandshuffle .sort-btn {
  background-color: #de0000;
}

.sortandshuffle .sort-btn.active {
  background-color: #9d0000;
}

/* Search control */

.search-row {
  margin-left: 2.5rem;
}

.filtr-search {
  padding: 0.5rem;
  text-transform: uppercase;
}

/** styles for home categories filters **/

.productcol:hover {
  box-shadow: 0 0 20px #ccc;
}

.productcol {
  background: #fff;
  width: 100%;
  min-height: 430px;
  max-height: 430px;
  transition: all 0.2s ease
}

.productcol figure {
  border-bottom: 1px solid #eeeeee;
}

.productcol figure img {
  height: 233px;
}

.productcol article {
  padding: 30px 8px 15px 8px;
}

.productcol article a.linkpro {
  color: #343339;
  line-height: 20px;
}

.productcol article a.linkpro:hover {
  color: #db302f;
}

.productcol article p {
  color: #6b6b6b;
}

.productcol article p.pricep span.price {
  padding: 0 2px;
  margin: 0 2px;
  display: inline-block;
  font-size: 14px;
}

.linethrough {
  text-decoration: line-through;
}

.productcol article p i {
  font-size: 13px;
}

.likekart a {
  width: 62px;
  height: 46px;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
  margin: 0 3px;
  color: #a6a6a6;
}

.likekart a:hover {
  background: #db302f;
  color: #fff;
}

.likekart a:hover i {
  color: #fff;
}

.likeactive {
  background: #db302f;
  color: #fff !important;

  .moonfont {
    color: #fff !important;
  }
}

.paybtns {
  input {
    float: left;
    margin-right: 10px;
  }
}

.likekart a:hover i {
  color: #fff;
}

.likekart i {
  font-size: 17px !important;
  color: #ababab !important;
}

.sliderpro .carousel-item {
  height: 526px;
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.sliderpro {
  .carousel-control-next-icon {
    background-image: none;
    font-size: 40px;
    color: #fff;
  }
  .carousel-control-prev-icon {
    background-image: none;
    font-size: 40px;
    color: #fff;
  }
}

.sliderpro .carousel-item .transbg {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.sliderpro .carousel-item .carousel-caption a {
  font-size: 13px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 15px;
  color: #fff;
}

.sliderpro .carousel-item .carousel-caption {
  bottom: 40%;
}

.sliderpro .carousel-item .carousel-caption a:hover {
  background: #db302f;
  border: 1px solid #db302f;
}

.sliderpro .carousel-control-next,
.sliderpro .carousel-control-prev {
  width: 25px;
  height: 25px;
  top: 46%;

}

.sliderpro .carousel-control-next {
  right: 30px;
  z-index: 99;
}

.sliderpro .carousel-control-prev {
  left: 30px;
  z-index: 99;
}

.featfootcol article p {
  padding-bottom: 7px;
  padding-left: 15px;
  font-size: 14px;
}

.featfootcol figure {
  margin-right: 10px;
}

.featuresfooter {
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
}

.nletterfooter {
  background: #f5f5f5;
  padding: 35px 0;
}

.nletterfooter p {
  font-size: 14px;
}

.nletterfooter h5 {
  font-size: 16px;
  color: #616161;
}

.newsform {
  background: #fff;
  border: 1px solid #e0e0e0;
  height: 40px;

  input[type='submit'].btn-success {
    border-radius: 0;
    line-height: 24px;
    font-size: 15px;
  }
}

.newsform input[type='text'] {
  width: 90%;
  height: 40px;
  background: none;
  border: none;
  padding: 10px;
  font-size: 13px;
}

.newsform input[type='text']:focus {
  outline: none;
}

.newsform button {
  background: none;
  border: none;
  cursor: pointer;
}

.newsform button i {
  color: #757575;
}

.newsform button:focus {
  outline: none;
}

.newsform button:hover i {
  color: #db302f;
}

.footersocialnav li a {
  color: #b0b0b0;
  font-size: 16px;

  &:hover {
    color: #343339;
  }
}

.btnsubscribe {
  background: url('/frontend/img/rightsubmit.svg') no-repeat center right;
  box-shadow: none;
  border: none;
  cursor: pointer;
  height: 36px;

  &:focus {
    outline: none;
    border: none;
  }
}

.footerclients {
  padding: 10px 0;
}

.pl50 {
  padding-left: 50px;
}

.pl100 {
  padding-left: 100px;
}

.footernav {
  background: #212121;
  padding: 58px 0 25px 0;
}

.footernav h6 {
  font-size: 14px;
}

.footernav p {
  color: #878787;
  font-size: 14px;
  line-height: 20px;
}

.footernav li a,
.footernav li {
  font-size: 14px;
  color: #878787;
  padding: 0 0 8px 0;
  display: block;
  text-transform: capitalize;
}

.footernav li a:hover {
  color: #fff;
}

ul,
li {
  list-style: none;
}

.copyrights {
  padding: 22px 0 0 0;
  border-top: 1px solid #323232;
  margin-top: 50px;
}

.copyrights p,
.copyrights a {
  font-size: 12px;
  color: #b0b0b0;
}

.copyrights a i {
  padding-left: 10px;
}

.loadpop {
  max-width: 616px;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.loadpop .modal-body {
  padding: 50px 50px 15px 50px;
}

.popbrand {
  //height: 85px;
}

.loadpop .modal-body p {
  font-size: 16px;
  line-height: 24px;
}

.rowform {
  font-size: 14px;
  color: #a3a3a3;
}

.rowform select.form-control option,
.rowform select {
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}

.rowform select {
  border: 1px solid #a3a3a3;
  border-radius: 5px;
}

.rowform select:focus {
  outline: none;
  border: 1px solid #a3a3a3;
  box-shadow: none;
}

.dtpick {
  width: 100%;
  height: 38px;
  border: 1px solid #a3a3a3;
  border-radius: 5px;
}

.dtpick input[type="text"] {
  padding: 0 10px;
  border-right: 2px solid #909090;
  background: none;
  box-shadow: none;
  width: 60px;
  text-align: center;
  margin: 10px 0;
  border: none;
  border-right: 1px solid #333;
  font-weight: 300;
  color: #909090;
}

.dtpick input[type="text"]:focus {
  outline: none;
}

.dtpick input[type="text"]:last-child {
  border-right: none;
}

.loadpop .btn-secondary {
  background: #000;
  font-size: 13px;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.loadpop .btn-secondary:hover {
  background: #db302f;
  border: 1px solid #db302f;
}

.loadpop .modal-footer {
  border-top: none;
  padding: 0 15px 50px 15px;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.movetop {
  width: 40px;
  height: 40px;
  background: #db302f;
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  line-height: 40px;
  color: #fff;
  display: none;
  border-radius: 3px;
}

.bgredhover {
  &:hover {
    background: #db302f;
    a {
      color: #fff;
    }
  }
}

.movetop:hover {
  color: #fff
}

.signin {
  position: relative;
}

.signbgcol {
  background: url('/frontend/img/signbg.jpg') no-repeat 0 0;
  background-size: cover;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signright {
  width: 60%;
  margin-left: 40%;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signrtin {
  width: 450px;
  min-height: 325px;
  box-shadow: 0 0 3px rgba(27, 27, 29, 0.6);
  padding: 25px 40px;
  box-sizing: border-box;
}

.signheader .signbrand {
  //height: 98px;
}

.signheader h3 {
  font-size: 25px;
  font-weight: normal;
}

.formsign label {
  font-size: 12px;
  display: block;
}

.formsign .form-control {
  height: 38px;
  border: 1px solid #e0e0e0;
}

.formsign input[type="text"],
.formsign input[type="password"] {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.formsign input::placeholder {
  color: #e0e0e0;
}

.formsign .form-control:focus {
  outline: none;
  box-shadow: none;
}

.formsign a {
  font-size: 14px;
  color: #6a6e73;
}

.signbtn {
  background: none;
  color: #a6a6a6;
  font-size: 14px !important;
  padding: 8px 20px;
  box-shadow: none;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  cursor: pointer;

  &:focus {
    box-shadow: none !important;
  }
}

.signbtn:hover {
  background: #db302f;
  color: #fff;
  border: 1px solid #db302f;
}

.formsign p {
  font-size: 14px;
  color: #6a6e73;
}

.listsignsocial li a {
  background: #888b8f;
  border-radius: 50%;
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  margin: 0 3px;
  color: #fff;

  &:hover {
    background: #343339;
  }
}

.listsignsocial li a i {
  font-size: 14px;
  color: #fff;
}

.signsel label {
  padding-bottom: 8px;
}

.signsel select {
  width: 63px;
  margin-right: 5px;
  box-sizing: border-box;
  padding-right: 0;
}

.signsel input.form-control {
  width: 81%;
  margin-top: 0 !important;
  margin-left: 5px;
}

.infodiv {
  position: absolute;
  right: -25px;
  bottom: 11px;
}

.showpw {
  position: absolute;
  right: 11px;
  bottom: 11px;
  display: none;
}

.infodiv i {
  font-size: 18px;
  color: #4c505e;
}

.popover-title {
  text-align: left;
}

.custom-popover li {
  border: none !important;
  text-align: left;
}

.custom-popover .list-group-item {
  padding: 5px 10px 5px 0;
  color: #6a6e73;
}

.custom-popover .list-group-item {
  background: url(/frontend/img/listbeforeicon.png) no-repeat 0 center;
  padding: 12px 0;
}

.custom-popover .list-group-item span {
  padding-left: 37px;
}

.passwordmust .list-group-item {
  background: url('/frontend/img/listbeforeicon.png') no-repeat 0 center;
  padding: 18px 0;
}

.passwordmust .list-group-item span {
  padding-left: 37px;
}

.custom-popover .txtstrike span {
  text-decoration: line-through;
}

.showpw i {
  font-size: 20px;
  color: #ccc;
  position: absolute;
  right: 10px;
  bottom: 6px;
}

/** prdoucts list styles **/

.headerprolist {
  background: url('/frontend/img/productlistbannerbg.jpg') no-repeat 0 0;
  width: 100%;
  background-size: cover;
}

.headerprolist .row {
  min-height: 200px;
}

.productlist-nav {
  border-bottom: 1px solid #d1d2d2;
}

.productlist-nav .nav .nav-link {
  font-weight: normal;
  font-size: 14px;
  color: #7d7d7d;
  padding: 15px 20px;
}

.productlist-nav .nav .nav-item:first-child .nav-link {
  padding-left: 0;
}

.productlist-nav .nav .nav-link span {
  padding: 15px 0;
  border-bottom: 2px solid transparent;
}

.productlist-nav .nav .nav-link:hover span {
  border-bottom: 2px solid #212121;
  color: #212121;
}

.productlist-nav .nav .selectnav .nav-link span {
  border-bottom: 2px solid #212121;
  color: #212121;
}

.list-product {
  padding: 1rem;
  transition: all 0.2s ease-in;
}

.list-product .productcol {
  border: 1px solid #e0e0e0;
  transition: all 0.1s ease-in;
}

.productslist {
  padding: 10px 0;
}

.list-product .productcol:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 20px #ccc;
}

.productview-header {
  background: #f5f5f5;
  padding: 15px 0;
  min-height: 72px;
}

.productview-header h1 {
  font-size: 23px;

}

.productview-body {
  background: #fff;
  padding-top: 25px;
}

.productview-body p {
  font-size: 16px;
  line-height: 24px;
}

.graybg {
  background: #f5f5f5;
}

.reviewpad {
  padding: 20px 0;
  background: #fff;
}

.reviewsectitle {
  font-size: 30px;
  line-height: 40px;
}

.reviewpadtop {
  padding-top: 165px;
}

.nobg {
  background: none;
}

.brcrumb li {
  line-height: 20px;
}

.brcrumb li a {
  font-size: 14px;
  color: #000;
}

.brcrumb li.active {
  color: #bababa;
  font-size: 14px;
}

.product-top {
  padding: 50px 0;
  color: #bababa;
}

/** product detail img gallery **/

.simplegallery {
  width: 100%;
  min-height: 424px;
  overflow: hidden
}

.simplegallery .content {
  background: #fff;
  position: relative;
  width: 80%;
  min-height: 424px;
  overflow: hidden;
  float: right
}

.simplegallery .content img {
  width: 100%;
}

.simplegallery .thumbnail {
  float: left;
  width: 100px;
}

.simplegallery .thumbnail .thumb {
  width: 100px;
  margin: 0 0 7px 0;
  cursor: pointer;
  display: block;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 7px 0;
}

.simplegallery .thumbnail .thumb:hover {
  border: 1px solid #212121;
}

.simplegallery .thumbnail .thumb img {
  width: 90%;
  height: auto;
}

.simplegallery .thumbnail .last {
  margin: 0
}

.prodesc .h3 {
  color: #212121;
}

.prodesc .fas {
  font-weight: 600;
}

.prodesc p {
  font-size: 14px;
}

.prodesc {
  color: #212121;
}

.desctable {
  margin-left: -10px;
}

.desctable tr td {
  padding: 10px;
  font-size: 14px;
}

.colorthumbs li {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  padding: 5px;
  box-sizing: border-box;
  margin-right: 5px;
  padding-top: 7px;
}

.colorthumbs li img {
  width: 32px;
}

.cartdet li {
  float: left;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #e0e0e0;
  height: 40px;
  border-radius: 5px;

  .moonfont {
    font-size: 17px;
  }
}

.cartdet li a {
  color: #bebfc5;
  font-size: 14px;
  line-height: 31px;
}

.cartdet form {
  margin: 0 auto;
  text-align: center;
}

.cartdet i {
  margin: 0 10px;
}

.value-button {
  display: inline-block;
  margin: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  font-weight: 700;
  color: #bebfc5;
}

.value-button:hover {
  cursor: pointer;
  color: #333;
}

form #decrease {
  margin-right: -4px;
}

form #increase {
  margin-left: -4px;
  border-radius: 0 8px 8px 0;
}

form #input-wrap {
  margin: 0px;
  padding: 0px;
}

input.number {
  text-align: center;
  border: none;
  margin: 0px;
  width: 20px;
  height: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.descanch:hover {
  color: #333;
}

.descanch i {
  font-size: 18px;
}

.inputdelivery {
  padding: 5px;
  border: 1px solid #e0e0e0;
  height: 40px;
  border-radius: 5px;
  width: 300px;
}

.deliverto input {
  font-size: 14px;
  color: #333;
  border: none;
}

.deliverto input:first-child {
  width: 70%;
  border-right: 1px solid #a8a8a8;
  padding-left: 10px;
}

.deliverto input:last-child {
  width: 30%;
  text-align: center;
  background: none;
  border: none;
  padding-left: 10px;
  line-height: 20px;
  cursor: pointer;
}

.deliverto input:last-child:hover {
  color: #a8a8a8;
}

.deliverto input:focus {
  outline: none;
}

.sharepro li a {
  padding: 3px 5px;
  font-size: 13px;
  color: #fff;
}

.fb {
  background: #35538f;
}

.tw {
  background: #34b3d3;
}

.pin {
  background: #b70400;
}

.gplus {
  background: #d53e2b;
}

.detail-features {
  border-top: 1px solid #ccc;
}

.detailfeat-header {
  background: #fff;
  border-top: 1px solid #e0e0e0;
}

.detail-features .nav-item .nav-link {
  color: #212121;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  padding-right: 40px;
  padding-left: 40px;
  padding: 1rem 2rem;
}

.detail-features .nav-item .nav-link span {
  padding: 15px 0;
}

.detail-features .nav-item .nav-link:hover span {
  color: #db302f;
  border-bottom: 2px solid #db302f;
}

.detail-features {
  min-height: 500px;
}

/** single page scrolling **/

#overview,
#specs,
#rate {
  height: auto;
  min-height: 200px;
}

.detscrolldiv {
  padding: 0;
}

.detscrolldiv p {
  font-size: 14px;
  line-height: 22px;
  color: #7d7d7d;
}

#specs .container,
#rate .container {
  background: #fff;
  min-height: 250px;
}

.specsdetails {
  padding: 10px 20px;
}

.specsdetails h5 {
  border-bottom: 1px dashed #e0e0e0;
}

.specsdetails tr td {
  padding: 10px;
  font-size: 14px;
  color: #888888;
}

.specsdetails table {
  margin: 25px 0;
}

.ratecol h2 {
  font-size: 60px;
}

.ratestars i {
  margin: 2px 3px;
}

.bar span {
  color: #888888;
  font-size: 14px;
  padding: 0 10px;
  display: inline-block;
}

.starq {
  color: #222 !important;
}

.progress .progress-bar {
  background-color: #db302f;
}

.revimg {
  width: 65%;
}

.btn2 {
  border: 1px solid #e0e0e0 !important;
  color: #222 !important;
}

.btn2:hover {
  color: #fff !important;
}

.cartprocess .step-app .step-steps {
  margin: 0 auto;

  li {
    a {
      i {
        float: right;
      }
    }
  }

}

.step-app {
  .table {
    margin-bottom: 0;
    padding-bottom: 1rem;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
  }
}

.shoppingcarttable {
  .image {
    width: 110px;
  }
  .proname {
    width: 340px;
  }
  .pronametd {
    width: 500px;
    padding-right: 90px;
  }
}

.cartheadrow {
  background: #f5f5f5;
  min-height: 45px;
}

.cartheadrow .h6 {
  margin-bottom: 0;
  font-size: 15px;
}

.cartimg img {
  width: 60px;
  height: 63px;
  object-fit: cover;
  object-position: center;
}

.cartimg {
  width: 72px;
  height: 72px;
  padding: 5px;
  border: 1px solid #d1d2d2;
  border-radius: 5px;
}

.step-content p {
  font-size: 14px !important;
}

.actfont {

  a {
    font-size: 14px;
    font-weight: bold;
    padding-right: 10px;
    line-height: 50px;
  }
}

.ordconfirm {
  .ordconfirmimg {
    width: 110px;
  }
}

.brd {
  border: 1px solid #e0e0e0;
}

.close a i {
  font-size: 22px;
  color: #000;
}

.nobrd td {
  border: 0;
  vertical-align: middle;
}

.addform:focus {
}

.addform .form-control {
  border: 1px solid #e0e0e0;
  font-size: 14px;
}

.addform .form-control:focus {
  outline: 1px solid #db302f;
  box-shadow: none;
}

.cbtn {
  background: none;
  border: 1px solid #e0e0e0;
  font-size: 14px;
  padding: 10px 25px;
  font-family: 'Roboto', sans-serif;
}

.cbtn:hover {
  background: #db302f;
  border: none;
  border: 1px solid transparent;
  color: #fff !important;
}

.stepanchor {
  display: block;
  padding: 10px;
  color: #333;
  font-size: 20px;
  position: relative;
  flex: 1;
}

.stepanchor:hover {
  color: #db302f;
}

.f16 {
  font-size: 16px !important;
  line-height: 24px;
}

td {
  vertical-align: middle;
}

.paymentcol {
  width: 100%;
  height: 100px;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  margin-bottom: 20px;
}

.paymentcol .row {
  height: 100px;
}

.paymentcol a:hover {
  color: #db302f;
}

.productview-header .breadcrumb li a {
  color: #000;
}

.productview-header .breadcrumb li a:hover {
  color: #db302f;
}

.myaccountleftnav li a {
  font-weight: 500;
  color: #7d7d7d !important;
  padding: 15px 25px;
  display: block;
  font-size: 14px;
}

.myaccountleftnav li a:hover,
.myaccountleftnav li.ltnavactive a {
  color: #000 !important;
}

.myaccountleftnav li a i {
  padding-right: 5px;
  font-size: 14px;

}

.myaccountleftnav li {
  display: block;
  width: 100%;
}

.myaccountleftnav {
  min-height: 500px;
}

.propic img {
  width: 124px;
  height: auto;
  border-radius: 5px;
}

.input-file-container {
  position: relative;
}

.js .input-file-trigger {
  display: block;
  padding: 2px 0;
  background: none;
  color: #333;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  margin-top: -10px;
}

.js .input-file {
  opacity: 0;
  cursor: pointer;
  margin-top: -10px;
}

/**
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}
**/

.file-return {
  margin: 0;
}

.file-return:not(:empty) {
  margin: 1em 0;
}

.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}

.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.inputfile td {
  padding: 5px;
}

.inputfile i {
  margin-top: 5px;
}

.accountrtbody input {
  border: 1px solid #e0e0e0;
  height: 35px;
  padding: 15px;
  font-size: 14px;
}

.accountrtbody input[type="submit"] {
  height: auto;
  padding: 10px 15px;
}

.accountrtbody input:focus {
  box-shadow: none;
  border: 1px solid #999;
}

.accountrtbody label {
  padding-top: 8px;
  font-size: 14px;
}

.yeardt input {
  width: 75px;
  display: inline;
  text-align: center;
}

.accountrtbody input::placeholder {
  color: #d2d2d2;
}

.passwordmust {
  background: url('/frontend/img/pwbg.png') no-repeat -30px center;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.barstrip {
  background: #83c44e;
  width: 100%;
  height: 9px;
}

.ord-status {
  padding: 75px 25px 35px 25px;
}

.barcol {
  width: 32.5%;
  position: relative;
}

.ord-status > .barcol:first-child .barstrip {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.ord-status > .barcol:last-child .barstrip {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.barcol > .barstrip {
  position: relative;
}

.barcol i {
  font-size: 9px;
  color: #579624;
}

.barcol a {
  line-height: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.barcol a.delivered {
  right: 0;
  left: inherit;
}

.barcol span.sttext {
  font-size: 14px;
  position: absolute;
  top: -25px;
  left: -8%;
}

.barcol span.deliveredst {
  right: -10%;
  left: inherit;
}

.table-orderdetails td {
  padding: 8px 8px 8px 0;
  font-size: 14px;
  line-height: 20px;
}

.dashedbrd {
  border-style: dashed !important;
}

.finalprice td span {
  font-weight: 500;
  color: #212121;
}

.finalprice td {
  padding: 5px;
  text-align: right;
  font-size: 16px;
}

.accountrt .addbox {
  margin-bottom: 25px;
}

.accountrt .addbox p {
  font-size: 14px;
  line-height: 22px;
}

.ordrow a {
  color: #212121;
}

.addbox-support .svg {
  width: 66px;
}

.addbox-support figure {
  height: 300px;
}

.supportform input::placeholder {
  color: #ccc;
}

.supportform input {
  border: 1px solid #ccc;
  font-size: 14px;
  height: 40px;
}

.supportform input:focus, .supportform textarea:focus {
  box-shadow: none;
  border: 1px solid #db302f;
}

.supportform textarea {
  height: 150px;
  font-size: 14px;
}

.supportform textarea::placeholder {
  color: #ccc;
  font-size: 14px;
}

.modal-dialog {
  min-height: calc(100vh - 60px);
  justify-content: center;
  flex-direction: column;
  display: flex;
}

/**best products **/

.bestproducts .resp-tabs-container {
  background: none;
}

.bestproducts .resp-tab-content {
  border-top: none;
  border: none;
  transition: all 0.2s ease;
}

.bestproducts .resp-tabs-list {
  text-align: center;
}

.bestproducts .resp-tabs-list li {
  float: none;
  border: 1px solid #666666;
  font-weight: 300;
  border-radius: 5px;
  font-size: 13px;

  &:hover {
    background: #343339 !important;
    color: #fff;
    border: 1px solid #666666 !important;
  }
}

.bestproducts .resp-tabs-list li.resp-tab-active {
  background: #343339 !important;
  color: #fff;
  border: 1px solid #666666 !important;
  padding: 13px 15px !important;
}

/** styles for 25-10-2018 **/

.mosthelpful .container {
  background: #fff;
  min-height: 250px;
  margin-top: 24px;
}

.helpthumb img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  object-fit: cover;
}

.helptitle {
  font-size: 20px;
  padding-bottom: 5px;
}

.helpth {
  width: 87px;
  height: 87px;
  object-fit: cover;
}

.helplistthumbs li {
  padding-right: 18px;
}

.replyinput .deliverto input:first-child {
  width: 90%;
}

.replyinput .deliverto input:last-child {
  width: 10%;
  color: #888888;
}

.viewbtns input[type="submit"] {
  float: right;
  margin-left: 10px;

}

/*
 * jQuery Basic Table
 * Author: Jerry Low
 */

table.bt thead,
table.bt tbody th {
  display: none;
}

table.bt tfoot th,
table.bt tfoot td,
table.bt tbody td {
  border: none;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;

  /* IE 9 */
  float: left \9
;
  width: 100% \9
;
}

table.bt tfoot th::before,
table.bt tfoot td::before,
table.bt tbody td::before {
  content: attr(data-th) ": ";
  display: inline-block;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  font-weight: bold;
  width: 6.5em;
}

table.bt tfoot th.bt-hide,
table.bt tfoot td.bt-hide,
table.bt tbody td.bt-hide {
  display: none;
}

table.bt tfoot th .bt-content,
table.bt tfoot td .bt-content,
table.bt tbody td .bt-content {
  vertical-align: top;
}

.bt-wrapper.active {
  max-height: 310px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/**table styles **/
.resptable thead {
  background: #f5f5f5;
  height: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.resptable thead th {
  height: 48px;
  vertical-align: middle;
}

.resptable tbody td {
  vertical-align: middle;
}

.likekart a:hover .moonfont {
  color: #fff;
}

.likekart .moonfont {
  font-size: 20px;
  color: #ababab;
}

/**moon font custom font **/
@font-face {
  font-family: 'icomoon';
  src: url('../moonfonts/icomoon.eot?zgcg6d');
  src: url('../moonfonts/icomoon.eot?zgcg6d#iefix') format('embedded-opentype'),
  url('../moonfonts/icomoon.ttf?zgcg6d') format('truetype'),
  url('../moonfonts/icomoon.woff?zgcg6d') format('woff'),
  url('../moonfonts/icomoon.svg?zgcg6d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}

.icon-online-shopping-cart:before {
  content: "\e901";

}

/** new slider styles **/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.vert {
  .carousel-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.vertical-carousel {
  height: 700px;

}

.vertical-carousel .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;

}

.vertical-carousel .carousel-item:before {
  content: '';
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.vertical-carousel h2 {
  font-size: 40px;
  padding: 25px 0;
}

.vertical-carousel p {
  font-size: 15px;
  line-height: 24px;
}

.vertical-carousel .carousel-control-prev, .vertical-carousel .carousel-control-next {
  width: 50px;
  height: 50px;

}

.vertical-carousel .controles {
  width: 1170px;
  text-align: right;
  margin: 0 auto;
  position: relative;
  bottom: -62px;
}

.vertical-carousel .controles .contin {
  bottom: 100px;
}

.vertical-carousel .carousel-control-next {
  top: inherit;
  bottom: 40px;
  right: -65px;
  color: #ffffff;
}

.vertical-carousel .carousel-control-prev {
  left: inherit;
  right: -65px;
  top: -40px;
  color: #ffffff;
}

.modal-body {
  ::placeholder {
    color: #ccc !important;
    font-size: 12px;
  }
  .form-control {
    font-size: 15px;
    text-transform: capitalize;
  }
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: #838383 !important;
}

#jquery-script-menu {
  position: fixed;
  height: 90px;
  width: 100%;
  top: 0;
  left: 0;
  border-top: 5px solid #316594;
  background: #fff;
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  z-index: 999999;
  padding: 10px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.jquery-script-center {
  width: 960px;
  margin: 0 auto;
}

.jquery-script-center ul {
  width: 212px;
  float: left;
  line-height: 45px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.jquery-script-center a {
  text-decoration: none;
}

.jquery-script-ads {
  width: 728px;
  height: 90px;
  float: right;
}

.jquery-script-clear {
  clear: both;
  height: 0;
}

.listcontent {
  li {
    padding: 5px 0;
    line-height: 24px;
  }
}

.productview-body ol, .productview-body ol li, .productview-body ul, .productview-body ul li {
  list-style: inherit;
  margin-left: 10px;
  padding-bottom: 5px;
  line-height: 22px;
  color: #7d7d7d;
}

.stpage {
  p {
    padding-bottom: 15px;
    text-align: justify;
  }
  h5, h6 {
    padding-bottom: 7px;
    padding-top: 5px;
    font-weight: 700;
  }
  ul {
    li {
      span {
        padding-right: 10px;
      }
    }
  }

  .italic {
    li {
      font-style: italic;
    }
  }
}





